type: provider
config:
    provider_package: hmd_operators.trino
    provider_class: TrinoOperator
    params:
        sql:|
{%- filter indent(width=8) %}
{% include '_util/sql/create_schema.sql.j2' %}
{%- endfilter %}
        trino_conn_id: trino_conn
        autocommit: true
    run_params:
        schema_name: {{ vars.schema_name }}